.canv {
	border: 5px solid red;
	margin: auto;
	display: block;
}
.left {
	float: left;
	position: fixed;
}

#shop {
	display: none;
}
#use {
	display: none;
}
#hint {
	display: none;
}
#end {
	display: none;
}
